@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
/* html, body{
  width:100%;
  height:100%;
  overflow-x:hidden;
  background: #F8F8F8;
  color: #2D2E30;
  font-family: "Open Sans";
  font-weight:300;
  letter-spacing: .4px;
    -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}
h1, h2, h3, h4, h5, h6, p{
  font-weight:300;
  letter-spacing: .4px;
} */
.skills-container{
  border-radius:3px;
  /*width:500px;*/
  width: 100%;
  
  text-align:center;
  

  padding-bottom:20px;
  overflow:hidden;
}
table{
  width:100%;
   background: white;
  color: black;
}
thead tr td{
  font-weight:400;
  text-align:center;
}
thead{
  background: white;
}
tr{
  text-align:left;
  overflow:hidden;
}
td{
  padding:5px 5px;
  border-bottom:solid 2px #f0f0f0;
  width: 100px;
}
tbody td:nth-child(2) .percent{
  text-align:center;
  margin-left: 15%;
}
.bar{
  width:200px;
  height:20px;
  border:solid 5px #3F4244;
  border-radius:3px;
  margin: 5px 1px;
  overflow: hidden;
  background: #f0f0f0;
}
.fill{
  max-width:100%;
  height:100%;
}
.one .fill{
  width:0%;
  background:#308ACA;
  border-radius:1px;
  animation: barOne .4s linear;
  -webkit-animation:barOne .4s linear;
}
.two .fill{
  width:0%;
  background:#ff744f;
  border-radius:1px;
  animation: barOne .4s linear;
  -webkit-animation:barOne .4s linear;
}
@keyframes barOne{
  0%{width:0%;}
  100%{}
}
@-webkit-keyframes barOne{
  0%{width:0%;}
  100%{} 
}
.percent, .one{
  position:relative;
  float:left;
}
.percent{
  top:5px;
  margin-left:5px;
  margin-right:10px;
}
.border{
  border:solid 5px #3F4244;
  border-radius:3px;
}
.last{
  border:none;
}